body {
    --padding-value: 16.4rem;
}


@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display|Karla&display=swap');
html {
    font-size: 62.5%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Karla', sans-serif; 
    overflow-x: hidden;
}

h1, h2, h3 {
    font-family: 'DM Serif Display', serif;
}

li {
    list-style: none;
}
.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.btn {
    position: relative;
    z-index: 3;
    display: inline-block;
    font-family: 'Karla', sans-serif; 
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: 1.3rem 3.2rem;
    border: 2px solid black;
    font-weight: bold;
    color: black;
    letter-spacing: 1px;
}

.btn--inverse {
    color: hsl(217, 70%, 94%);
    border: 2px solid hsl(217, 70%, 94%);
    
}
nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem var(--padding-value);
    position: relative;
    z-index: 2;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
}

.navbar__logo {
    flex: 1;
    display: flex;
    align-items: center;
}

.logo-img {
    display: block;
    width: 112px;
    height: 18px;
}

.navbar__item {
    list-style: none;
    margin-left: 2.6rem;
}

.navbar__link {
    color: hsl(216, 30%, 68%);
    font-family: 'Karla', sans-serif; 
    font-size: 12px;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}

.hero {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: hsl(256, 26%, 20%);
    color: white;
    padding: 10.5rem var(--padding-value) 8rem;
    height: 500px;
    margin-bottom: 16rem;
}

.hero::before {
    content: '';
    display: block;
    position:absolute;
    width: 500px;
    height: 510px;
    background-image: url('../images/bg-pattern-intro-right-desktop.svg');
    background-repeat: no-repeat;
    background-position: bottom right;
    top: 0px;
    right: 0px;
    z-index: 1;
}

.hero::after {
    content: '';
    display: block;
    position:absolute;
    width: 500px;
    height: 400px;
    background-image: url('../images/bg-pattern-intro-left-desktop.svg');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
    bottom: -300px;
    left: 0px;
    z-index: 1;
}

.hero__info {

}

.hero__image {
 
}

.hero__title {
    position: relative;
    font-size: 7.0rem;
    font-weight: bold;
    padding: 6.4rem 0 1rem;
    line-height: 7rem;
}

.hero__title::before {
    content: '';
    width: 150px;
    position: absolute;
    border-top: 2px solid hsl(273, 4%, 51%);
    top: 0;
}

.hero__description {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 200;
    margin: 1rem 0 2rem;
    padding-right: 1rem;
}

.info {
    padding: 4rem var(--padding-value);

}


.info__title {
    position: relative;
    font-size: 4.5rem;
    font-weight: 200;
    padding: 4rem 0 6rem;
    line-height: 4rem;
    color: hsl(256, 26%, 20%);
}

.info__title::before {
    content: '';
    width: 150px;
    position: absolute;
    border-top: 2px solid hsl(273, 4%, 51%);
    top: 0;
}

.card__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6rem;
}

.card {
    width: 33%;
}


.card__title {
    font-size: 1.8rem;
    font-weight: 200;
    margin: 1.5rem 0 1.25rem;
}

.card__description {
    font-size: 1rem;
    line-height: 1.5rem;
    color: hsl(273, 4%, 51%);
}

.learn-more {
    background-color: hsl(256, 26%, 20%);
    color: white;
    padding: 3.5rem 5rem 4rem;
    display: flex;
    overflow: hidden;
}

.learn-more__title {
    font-size: 3.5rem;
    line-height: 3.5rem;
    font-weight: 200;
    flex: 1;
}

.learn-more__cta {
    position: relative;
    flex: 1;
    align-self: center;
    display: flex;
    justify-content: flex-end;
    
}

.learn-more__cta::before {
    content: '';
    display: block;
    position:absolute;
    width: 500px;
    height: 510px;
    background-image: url('../images/bg-pattern-intro-right-desktop.svg');
    background-repeat: no-repeat;
    background-position: bottom right;
    top: -150px;
    right: -100px;
    z-index: 1;
}

footer {
    background-color: #fafafa;
    padding: 4rem var(--padding-value);
}
.social-media {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid hsl(273, 4%, 51%);;
}

.social-media__links {
    display: flex;
}

.social-media__link {
    margin-left: 1rem;
}
.footer__wrapper {
    display: flex;
    justify-content: space-between;
}

.footer__title {
    margin: 2rem 0;
    font-size: 0.9rem;
    text-transform: uppercase;
    color: hsl(273, 4%, 51%);
    letter-spacing: 1px;
}
.footer__item {
    margin: 0.9rem 0;
}
.footer__link {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.9rem;
    font-weight: bold;
    color:  hsl(256, 26%, 20%);
}


@media screen and (max-width: 1000px) {
    body {
        --padding-value: 10rem;
    }
}